.task-list-page {
    padding: 20px;

    legend {
        padding: 20px;
    }

    .add-task-btn {
        margin-bottom: 15px;
    }

    .card {
        margin: 15px 0 15px 0;
    }

    .list-group-item {
        margin: 5px 0 5px 0;
    }
}